# See https://help.github.com/articles/ignoring-files for more about ignoring files.
/.bundle
/vendor/bundle
/coverage
.rspec_status

# Environment, logs, temporary files and uploads
/.env*
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep
/public/assets

# SQLite databases, wherever they are
*.sqlite3
*.sqlite3-*

# Secrets
/config/master.key
/config/credentials/*.key
